{% extends "layouts/base.html" %}
{% block content %}
<style>
    .movie-card-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px; /* Jarak antar card */
    }

    .movie-card {
        width: fit-content; /* Lebar card menyesuaikan konten */
        border: 1px solid #ccc; /* Optional: Tambahkan border untuk melihat batas card */
        border-radius: 5px; /* Optional: Tambahkan border radius */
        overflow: hidden;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Tambahkan shadow */
    }

    .card-image-container {
        position: relative;
        overflow: hidden;
    }

    .card-img-top {
        display: block;
        width: 235px; /* Tetapkan lebar gambar */
        height: 250px; /* Tetapkan tinggi gambar */
        object-fit: cover; /* Memastikan gambar mengisi container tanpa distorsi */
        transition: opacity 0.3s ease;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .movie-card:hover .overlay {
        opacity: 1;
        cursor: pointer;
    }

    .play-button {
        font-size: 2em;
        margin-bottom: 10px;
    }

    .rating {
        font-size: 1.2em;
        display: flex;
        align-items: center;
    }

    .rating i {
        margin-right: 5px;
        color: gold;
    }

    .card-body {
        padding: 10px; /* Tambahkan padding pada body card */
        text-align: center; /* Tengahkan teks di body card */
    }

    .card-title {
        margin-bottom: 5px;
    }
</style>
<div class="card">
    <div class="card-body">
        <div class="movie-card-container">
            {% for m in movies %}
                <div class="movie-card" style="margin: .5rem">
                    <div class="card-image-container">
                        <img class="card-img-top" src="{{ url_for('static', filename='img/'+ m.picture) }}" alt="{{ m.title }}">
                        <div class="overlay">
                            {% if m.rating %}
                            <div class="rating">
                                <i class="align-middle me-2" data-feather="star"></i> <span class="align-middle"></span> {{ m.rating }}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title mb-1" style="color: black">{{ m.name }}</h5>
                        <h6 class="card-title" style="color: grey">{{ m.year }}</h6>
                    </div>
                    <div class="card-footer">
                        {% for schedule in m.schedules %}
                            <a href="/home/book-movie/{{ schedule.id }}" style="text-decoration: none">
                                <span class="badge bg-secondary" style="margin: 0 3px 0 3px; padding: 10px; font-size: 13px" data-full-time="{{ schedule.time }}">
                                    {{ schedule.time.strftime('%H:%M') }}
                                </span>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                    Swal.fire({
                        title: 'Oops...',
                        icon: 'error',
                        text: '{{ message }}',
                        showConfirmButton: false,
                        timer: 3000
                    });
                {% elif category == 'success' %}
                    Swal.fire({
                        title: 'Success!',
                        icon: 'success',
                        text: '{{ message }}',
                        showConfirmButton: false,
                        timer: 3000
                    });
                {% endif %}
            {% endfor %}
        {% endwith %}
    });
</script>
{% endblock %}