{% extends "layouts/base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8 col-xl">
        <div class="card">
            <div class="card-body h-100">
                <div class="align-items-start">
                    <form method="POST" action="{{ url_for('main.add_manage_user') }}">
                        {{ form.hidden_tag() }}
                        <div class="row">
                          <div class="col-md">
                            <div class="mb-3">                                
                                <strong>{{ form.name.label(class="form-label") }}</strong>
                                {{ form.name(class="form-control form-control-lg " + (" is-invalid" if form.name.errors else ""), placeholder="Enter your name", autocomplete="off") }}
                                {% for error in form.name.errors %}
                                    <div class="text-danger small">{{ error }}</div>
                                {% endfor %}
                            </div>
                          </div>
                          <div class="col-md">
                            <div class="mb-3">
                                <strong>{{ form.username.label(class="form-label") }}</strong>
                                {{ form.username(class="form-control form-control-lg" + (" is-invalid" if form.username.errors else ""), placeholder="Enter your username", autocomplete="off") }}
                                {% for error in form.username.errors %}
                                    <div class="text-danger small">{{ error }}</div>
                                {% endfor %}
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md">
                            <div class="mb-3">
                              <strong>{{ form.email.label(class="form-label") }}</strong>
                              {{ form.email(class="form-control form-control-lg" + (" is-invalid" if form.email.errors else ""), placeholder="Enter your email", autocomplete="off") }}
                              {% for error in form.email.errors %}
                                  <div class="text-danger small">{{ error }}</div>
                              {% endfor %}
                            </div>
                          </div>
                          <div class="col-md">
                            <div class="mb-3">
                              <strong>{{ form.password.label(class="form-label") }}</strong>
                              {{ form.password(class="form-control form-control-lg" + (" is-invalid" if form.password.errors else ""), placeholder="*****", autocomplete="off") }}
                              {% for error in form.password.errors %}
                                  <div class="text-danger small">{{ error }}</div>
                              {% endfor %}
                            </div>
                          </div>
                        </div>
                        <div class="d-grid gap-2 mt-3">
                            {{ form.submit(class="btn btn-lg btn-primary") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}

{% block script %}
<script>
  $(document).ready(function(){
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% for category, message in messages %}
        {% if category == 'error' %}
          Swal.fire({
            title: 'Oops...',
            icon: 'error',
            text: '{{ message }}',
            showConfirmButton: false,
            timer: 3000
          });
        {% elif category == 'success' %}
          Swal.fire({
            title: 'Success!',
            icon: 'success',
            text: '{{ message }}',
            showConfirmButton: false,
            timer: 3000
          });
        {% endif %}
      {% endfor %}
    {% endwith %}
  });
</script>
{% endblock %}