{% extends "layouts/base.html" %}
{% block content %}
<div class="container-fluid p-0">
    <div class="card">
        <div class="card-header">
            <a class="btn btn-sm btn-primary" href="{{ url_for('main.add_manage_user') }}">
                <i class="align-center" data-feather="plus"></i></span>
            </a>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th class="text-center">Picture</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Active</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for u in users %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td class="text-center"><img src="{{ url_for('static', filename='img/' + u.picture) }}" alt="{{ u.username }}" style="width: 30px; height: 30px; border-radius: 50%"></td>
                        <td>{{ u.username }}</td>
                        <td>{{ u.email }}</td>
                        <td class="text-center" style="padding-left: 21px">
                            {% if u.is_active %}
                                <span class="badge bg-success d-flex justify-content-center align-items-center"
                                    style="border-radius: 50%; width: 20px; height: 20px;">
                                    <i data-feather="check"></i>
                                </span>

                            {% else %}
                                <span class="badge bg-danger d-flex justify-content-center align-items-center" style="border-radius: 50%; width: 20px; height: 20px"><i data-feather="x"></i></span></span>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <a class="btn btn-sm btn-success" href="{{ url_for('main.show_manage_user', hashid=u.hashid) }}">
                                <i class="align-center" data-feather="info"></i></span>
                            </a>
                            <a class="btn btn-sm btn-warning" href="{{ url_for('main.edit_manage_user', hashid=u.hashid) }}">
                                <i class="align-center" data-feather="edit"></i></span>
                            </a>
                            <a class="btn btn-sm btn-danger" id="btn-delete" href="#" data-id="{{ u.hashid }}" data-username="{{ u.username }}">
                                <i class="align-center" data-feather="trash-2"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>                
            </table>
        </div>
    </div>
</div>
{% endblock  %}

{% block script %}
<script>
    $(document).ready(function(){
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% for category, message in messages %}
            {% if category == 'adduser_error' %}
              Swal.fire({
                title: 'Oops...',
                icon: 'error',
                text: '{{ message }}',
                showConfirmButton: false,
                timer: 3000
              });
            {% elif category == 'success' %}
              Swal.fire({
                title: 'Success!',
                icon: 'success',
                text: '{{ message }}',
                showConfirmButton: false,
                timer: 3000
              });
            {% endif %}
          {% endfor %}
        {% endwith %}

        $(document).on('click', '#btn-delete', function(){
            let id = $(this).data('id');
            let username = $(this).data('username');
            let csrf_token = "{{ csrf_token() }}";

            Swal.fire({
                title: `Do you want delete user: ${username}?`,
                showDenyButton: false,
                showCancelButton: true,
                confirmButtonText: "Yes",
                }).then((result) => {
                if (result.isConfirmed) {
                    $.post({
                        url: `/admin/manage-user/delete/${id}`,
                        headers: { 'X-CSRFToken': csrf_token },
                        success: function(response){
                            let message = response.message;
                            if(response.status == 'success'){
                                Swal.fire({
                                    title: `Success`,
                                    text: message,
                                    icon: "success",
                                    timer: 2500,
                                    showConfirmButton: false
                                });
                            }else{
                                Swal.fire({
                                    title: `Error`,
                                    text: message,
                                    icon: "error",
                                    timer: 2500,
                                    showConfirmButton: false
                                });
                            }
                            location.reload();
                        },
                        error: function() {
                            Swal.fire("Error", "Failed to delete user.", "error");
                        }
                    });
                }
            });
        });
    });
</script>
{% endblock %}